

.class_Ppal{
    background:blue;
    padding:10px;
}



#test1{
    margin-top:5px;
    background:green;
    padding: 10px;
}
#test2{
    margin-top:5px;
    background:red;
    padding: 10px;
}
#test3{
    margin-top:5px;
    background:cyan;
    padding: 10px;
}


.class_test{
    margin-top:5px;
    background:red;
    padding: 10px;
}


.agregando_clase{
    margin-top:20px;

}
